body {
    margin: 0;
}

#canvas {
    width: 960px;
    max-width: 100%;
    max-height: 100%;
}

#fps {
    display: inline;
}

#controls {
    width: 100%;
}

#dpad {
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    float: left;
    padding-left: 20px;
}

#dpad div {
    background-color: #eee;
}

#up {
    grid-column: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#left {
    grid-column: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#right {
    grid-column: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#down {
    grid-column: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#ab {
    margin-left: 150px;
    height: 150px;
}

#a, #b {
    width: 50px;
    height: 50px;
    background-color: #eee;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 0;
    float: right;
    right: 40px;
    margin-left: 10px;
}

#a {
    top: 22%;
}

#b {
    top: 44%;
}
